{# thiết kế giao diện của client theo dạng thẻ  #}
{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-3 text-center">
		<h1 class="text text-danger">
			Student List
		</h1>
		<div
			class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col">
						<div class="form-group">
							<form action="{{ path('search_student') }}" method="post">
								<input class="form-control" type="search" name="keyword" placeholder="Search student's name" required maxlength="10">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="card-group">
				<div class="row">
					{% for student in students %}
						{% if students | length < 4 %}
							<div class="col mt-4">
							{% else %}
								<div class="col-md-3 mt-4">
								{% endif %}
								<div class="card">
									<a href="{{ path('student_detail', {'id' : student.id })}}"><h3 class="text text-success">
										{{ student.name }}
									</h3>
									</a>
									</div>
							</div>
						{% endfor %}
					</div>
				</div>
		</div>
	{% endblock %}
