{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
   <img src="{{ asset('https://static.javatpoint.com/blog/images/student-management-system.png') }}" width="100%" height="100%">
</div>
{% endblock %}