{% form_theme classForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
    <div class="container col-md-7 text-center mt-3">
        <div class="card p-3 bg-light">
            <h3 class="alert alert-primary">Add class</h3>
            {{ form_start(classForm) }}

            {{ form_widget(classForm) }}
            <input class="btn btn-outline-danger" type="submit" value="Add">

            {{ form_end(classForm) }}
        </div>
    </div>
{% endblock body %}